version: 2
updates:

- package-ecosystem: npm
  directory: '/'
  schedule:
    interval: weekly
    time: '00:00'
  open-pull-requests-limit: 10
  target-branch: release/0.x
  commit-message:
    prefix: fix
    prefix-development: chore
    include: scope


- package-ecosystem: github-actions
  directory: '/'
  schedule:
    interval: weekly
    time: '00:00'
  open-pull-requests-limit: 10
  target-branch: release/0.x
  commit-message:
    prefix: fix
    prefix-development: chore
    include: scope
