# compiled output
lib
api-docs

# testing
tests/cache/
/tests/coverage

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
*.log
tsconfig.tsbuildinfo

# dependencies
node_modules

# system Files
.DS_Store
