# compiled output
lib

# testing
tests/cache/
/tests/coverage

# IDEs and editors
.idea
.vscode

# logs
*.log
tsconfig.tsbuildinfo

# dependencies
node_modules

# system Files
.DS_Store
