# compiled output
api-docs
index.*.js*
array.*.js*
string.*.js*
types
.tgz

# testing
tests/cache/
/tests/coverage

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# cache
.eslintcache
tsconfig.tsbuildinfo
.rollup.cache

# logs
*.log

# dependencies
node_modules

# system Files
.DS_Store
