name: Lint Commit Messages

on:
  pull_request:
    types: [ready_for_review, opened, synchronize, reopened]

jobs:
  commitlint:
    timeout-minutes: 10
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v4
        with:
          configFile: .commitlintrc.js
