name: Deploy Api Docs

on:
  push:
    paths:
      - 'src/**/*.ts'
      - 'README.md'
    branches:
      - main

jobs:
  deploy:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Install dependencies
        run: npm ci
      - name: Build api docs
        run: npm run docs:api
      - name: Update gh-pages branch
        run: |
          cp -r ./api-docs/* ./
          git add -f assets
          git add -f classes
          git add -f interfaces
          git add -f .nojekyll
          git add -f index.html
          git add -f modules.html
          git add README.md
          git commit -m "Updates from ${{ github.ref }}" --no-verify
          git push -u origin gh-pages
