name: Lint

on:
  pull_request:
    types: [ready_for_review, opened, synchronize, reopened]
    paths:
      - '**/*.ts'
    branches:
      - main
      - 'release/*'

jobs:
  build:
    if: github.event.pull_request.draft == false
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - uses: actions/cache@v2
        with:
          key: npm-${{ hashFiles('./package-lock.json') }}
          path: ~/.npm
          restore-keys: |
            npm-
          node-version: 15
          check-latest: true
      - run: npm ci
      - name: ESLint
        run: node node_modules/.bin/eslint . --ext .ts
