name: Test

on:
  pull_request:
    types: [ready_for_review, opened, synchronize, reopened]
    paths:
      - '**/tsconfig.json'
      - 'tests/**/*.ts'
      - 'src/**/*.ts'
      - 'jest.config.js'
    branches:
      - main
      - 'release/*'

jobs:
  jest:
    timeout-minutes: 10
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          cache: 'npm'
      - run: npm ci
      - run: npm run test
